body {
  margin: 0;
  padding: 1rem;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 60vw;
  grid-template-rows: repeat(3, auto) 1fr;
  gap: 1rem;
  color: var(--couleur-ecriture);
}

h1 {
  font-size: 4rem;
  grid-column: span 2;
}

div.bloc-info {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.6rem;
  padding: 1rem;
  background-color: var(--couleur-fond-variante-1);
  font-size: 2rem;
  align-items: center;
  font-weight: 500;
  color: var(--couleur-ecriture-variante-1);
}

div.bloc-info .titre {
  font-weight: 900;
}

a {
  grid-column: 1;
  display: inline-block;
  width: 100%;
  background-color: var(--couleur-accent-1);
  text-align: center;
  border-radius: 0.6rem;
  padding: 1rem;
  color: var(--couleur-fond);
  text-decoration: none;
  font-size: 2rem;
}

div.carte {
  grid-column: 2;
  grid-row: 2 / span 3;
}

div.carte iframe {
  width: 100%;
  height: 100%;
  border-radius: 0.6rem;
}

@media (max-width: 1099px) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 1.4rem;
  }

  h1 {
    font-size: 2.8rem;
  }

  div.bloc-info {
    gap: 1rem;
    font-size: 1.6rem;
  }

  a {
    font-size: 1.6rem;
  }

  div.carte {
    display: flex;
    flex-direction: column;
    flex: 1
  }

  div.carte iframe {
    flex: 1;
  }
}