html {
  --taille-icone: 4.2rem;

  height: -webkit-fill-available;
}

html.fixe {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 1rem;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 60vw;
  grid-template-rows: repeat(2, auto) 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  gap: 1rem;
  color: var(--couleur-ecriture);
}

div.entete {
  display: flex;
  align-items: center;
  grid-column: span 2;
}

div.entete > h1 {
  font-size: clamp(1.6rem, 5vw, 4rem);
  flex: 1;
}

div.entete > a.retour {
  display: inline-block;
  background-image: url('../images/chevron-gauche.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: var(--taille-icone);
  height: var(--taille-icone);
  margin-right: 1rem;
  cursor: pointer;
}

div.entete button {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: var(--taille-icone);
  height: var(--taille-icone);
  min-width: var(--taille-icone);
  min-height: var(--taille-icone);
  border: none;
  cursor: pointer;
  background-color: transparent;
}

div.entete > button.ouvrir-recherche {
  background-image: url('../images/recherche.svg');
  margin-left: 1rem;
}

div.entete > div.calque-recherche {
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--couleur-fond);
  opacity: 0;
  z-index: 1;
  transition: opacity 0.2s ease-in-out;
}

div.entete > div.calque-recherche.visible {
  visibility: visible;
  opacity: 1;
}

div.entete > div.calque-recherche > button.fermer-recherche {
  background-image: url('../images/croix.svg');
  margin-bottom: 1rem;
  align-self: flex-end;
}

div.bloc-info {
  --taille-police: 2rem;

  grid-column: 1;
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
  row-gap: 2rem;
  gap: 2rem;
  border-radius: 0.6rem;
  padding: 1rem;
  background-color: var(--couleur-fond-variante-1);
  font-size: var(--taille-police);
  align-items: center;
  font-weight: 400;
  color: var(--couleur-ecriture-variante-1);
}

div.bloc-info > div {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  width: 100%;
  align-items: center;
}

div.bloc-info > div:not(:last-of-type)::before {
  content: '';
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
}

div.bloc-info > div.adresse::before {
  background-image: url('../images/localisation.svg');
}

div.bloc-info > div.terrains::before {
  background-image: url('../images/stade.svg');
}

div.bloc-info > div > span {
  grid-column: 2;
}

div.bloc-info .titre {
  font-size: calc(var(--taille-police) + 0.6rem);
  font-weight: 300;
  color: var(--couleur-accent-1);
  -webkit-user-select: none;
  user-select: none;
}

div.bloc-info .titre.copie::after {
  content: ' - lien copié';
}

div.bloc-info > div.liens-cartes {
  grid-column: 1;
  grid-template-columns: 1fr;
  gap: 1rem;
}

div.bloc-info > div.liens-cartes > a,
div.bloc-info button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--couleur-accent-1);
  text-align: center;
  border-radius: 0.6rem;
  border: none;
  padding: 1rem;
  color: var(--couleur-fond);
  text-decoration: none;
  font-size: var(--taille-police);
}

div.bloc-info > div.liens-cartes > a > span.icone-lien {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--couleur-fond);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

div.bloc-info > div.liens-cartes > a > span.icone-lien.google-maps {
  -webkit-mask-image: url('../images/google_maps_monochrome.svg');
  mask-image: url('../images/google_maps_monochrome.svg');
}

div.bloc-info > div.liens-cartes > a > span.icone-lien.apple-plans {
  -webkit-mask-image: url('../images/apple_plans_monochrome.svg');
  mask-image: url('../images/apple_plans_monochrome.svg');
}

div.bloc-info > div.liens-cartes > a > span.icone-lien.waze {
  -webkit-mask-image: url('../images/waze_monochrome.svg');
  mask-image: url('../images/waze_monochrome.svg');
}

div.carte {
  grid-column: 2;
  grid-row: 2 / span 3;
}

div.carte iframe {
  width: 100%;
  height: 100%;
  border-radius: 0.6rem;
}

@media (max-width: 1099px) {
  html {
    --taille-icone: 3.2rem;
  }

  body {
    display: flex;
    min-height: -webkit-fill-available;
    flex-direction: column;
  }

  body > *:not(:first-child) {
    margin-top: 1.4rem;
  }

  div.entete > h1 {
    margin: 0;
  }

  div.entete > a.retour {
    width: var(--taille-icone);
    height: var(--taille-icone);
  }

  div.bloc-info {
    --taille-police: 1.6rem;

    flex-direction: initial;
  }

  div.bloc-info > div.liens-cartes {
    grid-template-columns: repeat(3, 1fr);
  }

  div.bloc-info > div.liens-cartes > a > span.icone-lien {
    margin: 0;
  }

  div.bloc-info > div.liens-cartes > a > span.texte {
    display: none;
  }

  div.carte {
    display: flex;
    flex-direction: column;
    flex: 1
  }

  div.carte iframe {
    flex: 1;
  }
}

@media (max-width: 767px) {
  div.bloc-info {
    flex-direction: column;
    column-gap: 1rem;
    row-gap: 1rem;
    gap: 1rem;
  }

  body > *:not(:first-child),
  div.bloc-info > *:not(:first-child) {
    margin-top: 0.6rem;
  }
}

@media (prefers-color-scheme: dark) {
  div.entete > a.retour,
  div.entete > button.ouvrir-recherche,
  div.entete > div.calque-recherche > button.fermer-recherche,
  div.bloc-info > div::before {
    filter: invert(1);
  }
}