<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ titre }} | Stades</title>
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  <meta name="theme-color" content="#139400"/>
  <link rel="manifest" href="/manifest.webmanifest">
  <link rel="shortcut icon" href="/images/logo/favicon.png" type="image/png">
  <link rel="apple-touch-icon" href="/images/logo/logo_192.png">
</head>
<body>
  {{ content | safe }}
</body>
<script src="{{ '/js/recherche.js' | url }}"></script>
<script>
if ("serviceWorker" in navigator) {
  navigator.serviceWorker.register("/service-worker.js")
}

const recherche = new Recherche(document.querySelector('#recherche'))
</script>
</html>