<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ titre }} | Stades</title>
  <meta name="theme-color" content="#139400"/>
  <link rel="manifest" href="/manifest.webmanifest">
  <link rel="shortcut icon" href="/images/logo/favicon.png" type="image/png">
  <link rel="apple-touch-icon" href="/images/logo/logo_192.png">
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
</head>
<body>
  {{ content | safe }}
  <link rel="preload" href="{{ '/css/popup-mise-a-jour.css' | url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ '/css/popup-mise-a-jour.css' | url }}"></noscript>
  <script src="{{ '/js/miseAJour.js' | url }}"></script>
</body>
</html>